.main {
    width: 100%;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
}

.details {
    width: 40%;
    /* border: 1px solid yellow; */
    

}

.action--bttns {
    display: flex;
    /* flex-direction: column; */
    align-items: flex-start;
    gap: 1em;
}

.account--details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    font-size: 1.5rem;
}

.action--bttns,.account--details.heading{

    padding: 1em;
}

.heading {
    margin: 0;
    width: 100%;
    text-align: left;



    display: flex;
    justify-content: space-between;
}

.heading--right {
    display: flex;
    align-items: center;
    justify-content: center;

    gap:1em;
}

.mode {
    padding: .8em;
}