*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    place-items: center;
}

.flex {
    display: flex;
    place-items: center;    
}

.container {
    width: 100%;
    padding: 1em 1.5em; 
    flex-direction: column; 
    
    background-color: #333; /* Dark button background */
    border: 1px solid #444; /* Slightly lighter border */
    border-radius: 6px; /* Rounded corners */
    color: #e0e0e0; /* Light text color */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
}

.wallet--container h1 {
    text-align: left;
}

.generates {
    gap: 1em;
}

h1 {
    font-size: 2.3em;
    /* margin-bottom: .5em; */
}

.wallets {
    margin-top: 2em;
}

.wallet-page {
    flex-direction: column;
}

.wallet--section {

}

.info--section,.details--section,.actions--section {
   

}

.actions--section {
    justify-content: center;
    gap: 1em;
}

.wallet--container {
   
}

/* ETH&SOL STYLES */

.wallets {
  gap: 1em;
}

.eth,.sol {
    /* width: 48%; */
}

.copy-icon {
    cursor: pointer;
    /* color: #646cff; */
    transition: color 0.3s ease; /* Smooth transition */
  }
  
  .copy-icon:hover {
    /* color: #1e90ff; */
    color: #646cff;

  }

  #accountAddress {
    font-size: 1.2rem;
  }